<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/staticfiles/css">
    {% load static %}
    {% block title %}
    <title>Home</title>
    {% endblock %}
  </head>
  <body>
    <header class="d-flex align-items-center bg-turquoise p-3">
      <a href="{% url 'home' %}"
        ><img
          src="{% static 'staticfiles/assets/images/kebele_logo.jpg' %}"
          alt="Logo"
          class="img-fluid"
          style="max-width: 80px"
      /></a>
      <nav class="ml-auto">
        <ul class="d-flex list-unstyled">
          <li class="mx-3"><a href="{% url 'home' %}" class="nav-link">HOME</a></li>
          <li class="mx-3"><a href="{% url 'about' %}" class="nav-link">ABOUT US</a></li>
          <li class="mx-3"><a href="{% url 'service' %}" class="nav-link">SERVICES</a></li>
          <li class="mx-3"><a href="{% url 'notification' %}" class="nav-link">NOTIFICATION</a></li>
          <li class="mx-3"><a href="{% url 'feedback' %}" class="nav-link">FEEDBACK</a></li>
          <li class="mx-3"><a href="{% url 'contact' %}" class="nav-link">CONTACT US</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    <!-- Unique content will go here -->
    {% endblock %}

    <footer class="bg-turquoise text-white">
      <div class="container">
        <div class="row py-5">
          <div class="col-md-4 text-center">
            <a href="{% url 'home' %}">
              <img
                width="100px"
                src="{% static 'assets/images/kebele_logo.jpg' %}"
                alt="Logo"
                class="img-fluid mb-3"
              />
            </a>
            <p class="caption">TOGETHER WE THRIVE!</p>
          </div>
          <div class="col-md-4">
            <h3 class="text-uppercase">Useful Links</h3>
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
              <li><a href="{% url 'about' %}" class="text-white">About Us</a></li>
              <li><a href="{% url 'service' %}" class="text-white">Service</a></li>
              <li><a href="{% url 'notification' %}" class="text-white">Notification</a></li>
              <li><a href="{% url 'feedback' %}" class="text-white">Feedback</a></li>
              <li><a href="{% url 'contact' %}" class="text-white">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="text-uppercase">Contact</h3>
            <div class="contact-details">
              <div class="d-flex align-items-center mb-2">
                <img
                  src="{% static 'assets/icons/location-dot-solid.svg' %}"
                  alt=""
                  class="me-2 icon-smaller"
                />
                <p class="mb-0">King George VI St, Addis Ababa, Ethiopia</p>
              </div>
              <div class="d-flex align-items-center mb-2">
                <a href="tel:+25100436787" class="text-white">
                  <img
                    src="{% static 'assets/icons/phone-solid.svg' %}"
                    alt=""
                    class="me-2 icon-smaller"
                  />
                  <span class="mb-0">+251 00 43 67 87</span>
                </a>
              </div>
              <div class="d-flex align-items-center mb-2">
                <a href="mailto:kebelemanagement@arada.gov.et" class="text-white">
                  <img
                    src="{% static 'assets/icons/envelope-solid.svg' %}"
                    alt=""
                    class="me-2 icon-smaller"
                  />
                  <span class="mb-0">kebelemanagement@arada.gov.et</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="text-uppercase">Follow Us</h3>
            <div class="social-icons mb-3">
              <a href="#"><img src="{% static 'assets/icons/facebook-brands-solid.svg' %}" alt="" /></a>
              <a href="#"><img src="{% static 'assets/icons/instagram-brands-solid.svg' %}" alt="" /></a>
              <a href="#"><img src="{% static 'assets/icons/linkedin-brands-solid.svg' %}" alt="" /></a>
              <a href="#"><img src="{% static 'assets/icons/twitter-brands-solid.svg' %}" alt="" /></a>
            </div>
            <p class="caption">
              © 2025 kebelemanagement. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
