{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block link %}
{% endblock %}
{% block content %}
<li class="mx-3" id="profileMenu" style="display:none;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span id="profiileInitial"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" href="./profile.html">View Profile</a></li>
        <li><a class="dropdown-item" href="#" id="logout">Logout</a></li>

      </ul>
    </li>
{% endblock %}
{% block content %}
    <main>
      <section class="hero">
        <div class="hero-content">
          <h2>Welcome to Woreda 6 Kebele Management System</h2>
          <p>
            Your trusted source for local governance and community support
            tailored to the needs of our residents.
          </p>
          <p class="description">
            We are committed to fostering a thriving community by providing
            essential services, facilitating community engagement, and ensuring
            transparency in governance. Join us in building a brighter future
            for our kebele!
          </p>
          <div class="button-group">
            <a href="./signin.html" class="btn btn-primary">Log In</a>
          </div>
          <div class="mt-4 text-center">
            <p>Don't have an account?</p>
            <a href="./signup.html" class="btn btn-primary"
              >Create an Account</a
            >
          </div>
        </div>
      </section>
    </main>
    {% endblock %}
   