<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement</title>
</head>
<body>
    {%if posts %}
    {%block content%}
    {%for post in posts%}
    <li>
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
        <small>{{post.createdAt}</small>}
        <a href="{% url'announcements:update'post_id%}"></a>
        <a href="{%url'announcements:delete'post_id%}"></a>
    </li>
    {%endfor%}
    {%else%}
    <h3>No new post</h3>
    {%endif%}
    {%endblock%}
    
</body>
</html>