.bg-custom {
    background-color: #329999 !important;
    color: white;
  }
  .custom-link {
    color: #329999 !important;
    text-decoration: none;
  }
  .custom-link:hover {
    color: #227777;
    text-decoration: underline;
  }
  .btn:active {
      background-color: #329999 !important;  
      border-color: #329999 !important;     
    }
    
    /* Optional: Style the button when hovered */
    .btn:hover {
      background-color: #329999; 
      border-color: #329999;      
    }