{% extends 'base.html' %} {% load static %} {% block title %}
<title>Marriage</title>
{% endblock %} {% block link %} {% endblock %} {% block content%}
<div class="container mt-5">
  <div class="text-center">
    <h2 class="mb-4 header-color">
      Marriage Certificate Application Guidelines
    </h2>
    <p class="text-muted">
      To successfully apply for your Marriage Certificate, it is essential that
      all fields in the application form are filled out correctly. Please take
      your time to carefully enter your information:
    </p>
  </div>
  <div class="mx-auto" style="max-width: 800px">
    <div class="mb-4">
      <h5 class="header-color">Personal Information</h5>
      <p class="text-muted">
        Provide the full names of both individuals applying for the certificate,
        their date of birth, and contact details. Ensure the information matches
        your official documents.
      </p>
    </div>
    <div class="mb-4">
      <h5 class="header-color">Marriage Details</h5>
      <p class="text-muted">
        Enter the date and location of the marriage. Specify any additional
        details required, such as witnesses' names or officiant information, if
        applicable.
      </p>
    </div>

    <div class="mb-4">
      <h5 class="header-color">Notification</h5>
      <p class="text-muted">
        Once your application is approved, you will receive a notification with
        further instructions. You may be requested to visit the
        <strong>Arada Kifleketema</strong> office to collect the Marriage
        Certificate.
      </p>
    </div>
  </div>
</div>

{% endblock %}
