{% extends 'base.html' %} 
{% load static %}
{% block title %}
<title>Apply for Birth Certificate</title>
{% endblock %} 
{% block link %}
<link rel="stylesheet" href="{% static 'css/birth.css' %}" />
{% endblock %} 
{% block content %}
{% endblock %}
{% block content %}
<main>
  <div class="container mt-5">
    <div class="text-center">
      <h2 class="mb-4 header-color">
        Birth Certificate Application Guidelines
      </h2>
      <p class="text-muted">
        To successfully apply for your Birth Certificate, it is essential that
        all fields in the application form are filled out correctly. Please take
        your time to carefully enter your information:
      </p>
    </div>
    <div class="mx-auto" style="max-width: 800px">
      <div class="mb-4">
        <h5 class="header-color">Personal Information</h5>
        <p class="text-muted">
          Provide the full name of the individual whose birth certificate is
          being requested, their date of birth, sex, and place of birth. Ensure
          that the details match official records to avoid discrepancies.
        </p>
      </div>
      <div class="mb-4">
        <h5 class="header-color">Parent/Guardian Details</h5>
        <p class="text-muted">
          Enter the names of the individual's parents or guardians as they
          appear on official documents. Include their contact details for
          verification purposes, if required.
        </p>
      </div>
      <div class="mb-4">
        <h5 class="header-color">Supporting Documents</h5>
        <p class="text-muted">
          Attach a copy of any required documents, such as proof of identity,
          hospital records, or a previous birth certificate (if applicable).
          Ensure the documents are clear and legible.
        </p>
      </div>
      <div class="mb-4">
        <h5 class="header-color">Notification</h5>
        <p class="text-muted">
          Once your application is approved, you will receive a notification
          with further instructions. You may be requested to visit the
          <strong>Arada Kifleketema</strong> office to collect the Birth
          Certificate.
        </p>
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %} {{form.as_p}}
    <button type="submit">Apply for Birth Certificate</button>
  </form>
</main>
{% endblock %}
