{% extends 'base.html' %} 
{% load static %} 
{% block title %}
<title>service request</title>
{% endblock %} 
{% block link %} 
{% endblock %} 
{% if births %} 
{% for birth in
births %}
<ul>
  <li>
    <p>Child Name:{{birth.childName}}</p>
  </li>
  <li>
    <p>Gender: {{birth.gender}}</p>
  </li>
  <li>
    <p>Father Name:{{birth.fatherName}}</p>
  </li>
  <li><p>Mother Name:{{birth.motherName}}</p></li>
  <li><small>Brith date:{{birth.birthDate}}</small></li>
  <li><a href="{% url'download_file' request.id%}">Download</a></li>
</ul>
{% endfor %} 
{%endif%} 
{% endblock %}
